#content {

    width: 400px;

    margin: 0 auto;

    background-color: #66ffff;

}



#nav ul {

    display: inline-block;

    list-style-type: none;

}

#menucontent {
	margin-left: -15px;
}

@media (min-width: 768px)
bootstrap.css:1803
.col-sm-2 {
  width: 100%;
}


.left {
    float:left;
    width:20%;
    margin-top:7px;
    padding:15px;
}

.right {
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
}

.content {
    float: left;
    width: 60%;
    padding: 15px;
    margin-top: 7px;
}

@media only screen and (max-width:620px) {
    .content {
        width:100%;
    }

    .left, .right {
        display: none;
    }
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}


.navbar-default {
  background-color: #ffffff;
  border-color: #337ab7;
}

.navbar-default .navbar-brand {
  color: #337ab7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #337ab7;
}
.navbar-default .navbar-nav > li > a {
  color: #337ab7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #3D7DFC;
}
.navbar-default .navbar-nav > .active > a {
  color: #ffffff;
  background-color: #337ab7;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3D7DFC;
}

.navbar-default .navbar-nav > .open > a {
  color: #ffffff;
  background-color: #337ab7;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3D7DFC;
}
.navbar-default .navbar-toggle {
  border-color: #337ab7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color: #ffffff;
  background-color: #3D7DFC;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #337ab7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #337ab7;
}
.navbar-default .navbar-link {
  color: #337ab7;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
  background-color: #3D7DFC;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #337ab7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #3D7DFC;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    background-color: #337ab7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3D7DFC;
  }
}