<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{ifset title}{include title|stripHtml} | {/ifset} MS v ledním hokeji</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="{$basePath}/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
</head>

<body>

<img src="{$basePath}/img/hockey-logo.svg" alt="Hockey logo">

<nav class="nav navbar-default" role="navigation">
	<div class="container-fluid" id="menucontent">
	<ul class="nav navbar-nav">
		<li class="nav-item {ifCurrent Homepage:}active{/ifCurrent}" >
			<a class="nav-link" n:href="Homepage:"> Úvodní stránka </a>
		</li>
	{if $user->isLoggedIn()}
		<li class="nav-item {ifCurrent Match:*}active{/ifCurrent}" >
			<a class="nav-link" n:href="Match:"> Zápasy </a></li>
		<li class="nav-item {ifCurrent Team:*}active{/ifCurrent}" >
			<a class="nav-link" n:href="Team:"> Týmy </a></li>
		<li class="nav-item {ifCurrent Referee:*}active{/ifCurrent}" >
			<a class="nav-link" n:href="Referee:"> Rozhodčí </a></li>
	{/if}
	</ul>
	<ul class="nav navbar-nav navbar-right">
		{if $user->isLoggedIn()}
			<li class="nav-item {ifCurrent Manage:}active{/ifCurrent}" >
				<a class="nav-link" n:href="Manage:"><span class="glyphicon glyphicon-cog"> Správa účtu</a></li>
			<li class="nav-item {ifCurrent Sign:out}active{/ifCurrent}" >
				<a class="nav-link" n:href="Sign:out"><span class="glyphicon glyphicon-log-out"> Odhlásit </a></li>
		{else}
			<li class="nav-item {ifCurrent Register:}active{/ifCurrent}" >
				<a class="nav-link" n:href="Register:"><span class="glyphicon glyphicon-user"> Registrace </a></li>
			<li class="nav-item {ifCurrent Sign:in}active{/ifCurrent}" >
				<a class="nav-link" n:href="Sign:in"><span class="glyphicon glyphicon-log-in"> Přihlásit </a></li>
		{/if}
 	</ul>
	</div>
</nav>

<div style="overflow:auto">
	<div class="left"> </div>
	<div class="content">

		<div n:foreach="$flashes as $flash" n:class="$flash->type">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{$flash->message}
		</div>

		{include content}

		{block scripts}
			<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
			<script src="{$basePath}/js/tables.js"></script>
		{/block}
	</div>
	<div class="right"> </div>
</div>

</body>
</html>
	