{block content}

<h1> Vitejte na stránkách Mistrovství světa v lednim hokeji </h1>

{if !$user->isLoggedIn()}

	<div class="alert alert-info alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		Pro zobrazení informací z mistrovství se přilašte.
	</div>
{/if}

<img src="{$basePath}/img/MS_v_lednim_hokeji_2016.jpg" alt="MS v ledním hokeji">
   
{/block}
