{block content}

<!-- Obsah -->
<h1>Zápasy</h1>

<table class="table table-bordered table-hover" id="zapasy">
    <tr>
 	<th onclick="sortTable('zapasy', 0)">Domaci</th>
        <th onclick="sortTable('zapasy', 1)">Hoste</th>
        <th onclick="sortTable('zapasy', 2)">Vysledok</th>
        <th onclick="sortTable('zapasy', 3)">Misto Konani</th>
        <th onclick="sortTable('zapasy', 4)">skupina</th>
        <th>Možnosti</th>
    </tr>
{foreach $zapasy as $key => $zapas}
    <tr>
        <td>{$zapas->domaci}</td>
        <td>{$zapas->hostia}</td>
        <td>{$zapas->vysledok}</td>
        <td>{$zapas->misto_konani}</td>
        <td>{$zapas->oznacenie}</td>
        <td> <a n:href="Match:more $zapas->ID_zapasu" class="btn btn-primary"> Více </a></td>
    </tr>
{/foreach}
</table>

{if $user->identity->roles[0] == 'admin'}
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#addMatch">Přidání zápasu</button>
	<div id="addMatch" class="collapse">
		{control createForm}
	</div>
{/if}

<script type="text/javascript">
$(function() {
    $('input[name="datum_konani"]').daterangepicker({
        singleDatePicker: true,
        	locale: {
            format: 'DD.MM.YYYY'
        }
    });
});
</script>

{/block}