{block content}

<!-- Obsah -->
<h1>Týmy</h1>

<table class="table table-bordered table-hover" id="tymy">
    <tr>
 	<th onclick="sortTable('tymy', 0)">Tým</th>
        <th onclick="sortTable('tymy', 1)">Trenér</th>
        <th onclick="sortTable('tymy', 2)">Asistent</th>
        <th onclick="sortTable('tymy', 3)">Počet bodú</th>
        <th onclick="sortTable('tymy', 4)">Skóre</th>
        <th onclick="sortTable('tymy', 4)">Pořadí</th>
        <th onclick="sortTable('tymy', 4)">Skupina</th>
        <th>Možnosti</th>
    </tr>
{foreach $tymy as $key => $tym}
    <tr>
        <td>{$tym->ID_tym}</td>
        <td>{$tym->trener}</td>
        <td>{$tym->asistenti}</td>
        <td>{$tym->pocet_bodu}</td>
        <td>{$tym->skore}</td>
        <td>{$tym->poradi}</td>
        <td>{$tym->skupina}</td>
        <td> <a n:href="Team:more $tym->ID_tym" class="btn btn-primary"> Více </a></td>
    </tr>
{/foreach}
</table>

{if $user->identity->roles[0] == 'admin'}
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#addMatch">Přidání týmu</button>
	<div id="addMatch" class="collapse">
		{control createForm}
	</div>
{/if}


{/block}