{block content}

<h1>Rozhodčí</h1>

<table class="table table-bordered table-hover" id="rozhodci">
    <tr>
        <th onclick="sortTable('rozhodci', 0)">Jémno</th>
        <th onclick="sortTable('rozhodci', 1)">Národnost</th>
        {if $user->identity->roles[0] == 'admin'}
        <th>Možnosti</th>
        {/if}
    </tr>
{foreach $rozhodci as $rozhodca}
    <tr>
        <td>{$rozhodca->jmeno_R}</td>
        <td>{$rozhodca->narodnost}</td>
        {if $user->identity->roles[0] == 'admin'}
        <td><a n:href="Referee:deleteReferee $rozhodca->jmeno_R" class="btn btn-danger"> Smazat </a>
        {/if}
    </tr>
{/foreach}
</table>

{if $user->identity->roles[0] == 'admin'}
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#addReferee">Přidání rozhodčí</button>
	<div id="addReferee" class="collapse">
		{control createForm}
	</div>
{/if}


{/block}